<div class="col-md-6 right-column">
  <div class="new panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Create {{recordType}}
      </h3>
    </div>

    <div class="panel-body">
      <form role="form">
        {{#each filteredColumns as |column|}}
          <div {{bind-attr class=":model-column column :form-group"}}>
            <label>
              {{column}}
              {{admin-input record=this columnValue=column class="form-control"}}
            </label>
          </div>
        {{/each}}
      </form>
    </div>

    <div class="panel-footer">
      {{async-button action="save" default="Save" pending="Saving..."
        fulfilled="Saved" rejected="Error" class="save btn btn-primary"}}
      <button {{action "cancel"}} class="cancel btn btn-default pull-right">Cancel</button>
    </div>
  </div>
</div>
